{% extends 'layout.html' %}

{% block content %}

<form method="POST" action="/">
    <label>Name</label>
    <input name="fullName" type="text">
    <span>{{ newMessage.errors['fullName'] }}</span>
    <label>Message</label>
    <input name="text" type="text">
    <span>{{ newMessage.errors['text'] }}</span>
    <input type="submit">
</form>

{% for message in messages %}
    <p>{{ message.fullName }} - {{ message.text }}</p>
{% else %}
    <p>There is no messages</p>
{% endfor %}

{% endblock %}